<div id="about-us">

</div>

<div class="owner-bios grid">

    <div id="Katie">
    <h1> Katie </h1>
    <p>  {{ section.settings.name2 }} </p>
    </div>
    
    <div id="Kevin">
    <h1> Kevin </h1>
    <p> {{ section.settings.name1 }} </p>
    </div>

</div>


{% schema %}
{
    "name": "Bio",
    "settings": [
        {
            "type": "textarea",
            "id": "name1",
            "label": "Katie",
            "default": "Lorem Ipsum Dolor"

        },

        {
            "type": "textarea",
            "id": "name2",
            "label": "Kevin",
            "default": "Lorem Ipsum Dolor"
        }
    ]
}
{% endschema %}