<div id="about-us">

<div id="intro">
    <h3> <b>settings</b> </h3>
    <p> paragraph </p>
</div>

<div class="owner-bios">

    <div id="Katie">
        <div id="Katie-bio">
            <h1> Katie </h1>
            <h3> <b>title</b> </h3>
            <p>  {{ section.settings.name2 }} </p>
        </div>
        <p> image here </p>
    </div>
    
    <div id="Kevin">
        <div id="Kevin-bio">
            <h1> Kevin </h1>
            <h3> <b>title</b> </h3>
            <p> {{ section.settings.name1 }} </p>
        </div>
        <p> image here </p>
    </div>

</div>

</div>


{% schema %}
{
    "name": "Bio",
    "settings": [
        {
            "type": "textarea",
            "id": "name1",
            "label": "Katie",
            "default": "Lorem Ipsum Dolor"

        },

        {
            "type": "textarea",
            "id": "name2",
            "label": "Kevin",
            "default": "Lorem Ipsum Dolor"
        }
    ]
}
{% endschema %}