<div id="about-us">

<div id="intro">
    <h3> <b>settings</b> </h3>
    <p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Id aliquet lectus proin nibh nisl condimentum id venenatis a. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. 
    Netus et malesuada fames ac. Lorem ipsum dolor sit amet consectetur adipiscing. Cras adipiscing enim eu turpis. Id diam maecenas ultricies mi eget.
    Cum sociis natoque penatibus et. In est ante in nibh mauris. Dolor morbi non arcu risus quis varius quam. Id faucibus nisl tincidunt eget nullam. 
    </p>
</div>

<div class="owner-bios">

{%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    <div class="Bio">
        <div id="Katie-bio">
            <h1> Katie </h1>
            <h3> <b>title</b> </h3>
            <p>  {{ section.settings.name2 }} </p>
        </div>
    </div>
    <img class="selfie" id="katie-selfie" src="{{ section.settings.selfie-katie | img_url: '400x200' }}" >
    
    <div class="Bio">
        <div id="Kevin-bio">
            <h1> Kevin </h1>
            <h3> <b>title</b> </h3>
            <p> {{ section.settings.name1 }} </p>
        </div>
    </div>
     <img class="selfie" id="kevin-selfie" src="{{ section.settings.selfie-kevin | img_url: '400x200' }}" >

</div>

</div>


{% schema %}
{
    "name": "Bio",
    "settings": [
        {
            "type": "textarea",
            "id": "name1",
            "label": "Katie",
            "default": "Lorem Ipsum Dolor"

        },

        {
            "type": "textarea",
            "id": "name2",
            "label": "Kevin",
            "default": "Lorem Ipsum Dolor"
        },

        {
            "type": "image_picker",
            "id": "selfie-katie",
            "label": "Logo image"
        },

        {
            "type": "image_picker",
            "id": "selfie-kevin",
            "label": "Logo image"
        }
    ]
}
{% endschema %}