* {
    padding: 0;
    margin: 0;
}


#sidebar {
    background: #E9DDF9;
    float: left;
    vertical-align: top;
    height: 100vw;
    width: 15%;
    padding: 6px 14px;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 3.2em;
    text-align: center;
}

.sidebar-links {
    margin-top: 1em;
    width: 100%;
}

.sidebar-links ul{
    display: flex;
    justify-content: space-between;
}

.sidebar-links ul li{
    display: inline;
    margin: auto;
}

#shopify-section-header {
    width: 100%;
    margin: 0 ;
    position: fixed;
    z-index: 1000;
    
}

.header-items {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 3rem;
    width: 100%;
}

.top-bar__search {
    margin-right: 3em;
    color: #e9ddf9;
}

#shopify-section-slideshow {
    width: 100%;
    position: relative;
}

#insta-feed {
    padding-left: 3em;
    padding-right: 3em;
}

#insta-feed h2 {
    color: #A687ED;
}

.new-grid, .collection_list {
    margin: 3em;
}

.gallery-section {
    margin: 0 3em;
}

#about-us {
    text-align: center;
}

.about-grid {
    margin: 0 6em;
}

.owner-bios {
    display: flex;
    margin-top: 3em;
}

#Katie {
    display: flex;
}

#Kevin {
    display: flex;
}

.small--text-center {
    text-align: center;
}

#footer {
    background-color: aliceblue;
    width: 85%;
    position: absolute;
    height: 7em;
    margin-left: 15%;
    margin-top: 55px;
}

.site-footer__menu {
    display: flex;
    justify-content: left;
    height: 5em;
}

#footer ul li {
    display: inline;
    padding: 2.7rem;
}

.collections-section {
    margin: 3em;
    overflow: auto;
    height: 100%;
}

.enrm-branding a {
    visibility: hidden;
    color: white;
    height: 0;
    width: 0;
}

#enrm-branding-69868 {
    visibility: hidden;
    color: white;
}