<!-- /templates/page.liquid -->
<h1 class="small--text-center">{{ page.title }}</h1>

<div class="new-grid" id="FAQ">

  <h2 class="paragraph-title"> <b>Custom and personalized orders</b> </h2>
  <p class="paragraph"> 
    I do custom orders on a first come, first serve basis and based on complexity and urgency. 
    If you see any of my regular series pieces (Marbl'd, Ink'd, or Sky series) that you would like in a custom color feel free to send me a message!
    I also do complex sculpted pieces and until I do not have the bandwidth, I will freely accept them after consultation.
  </p>

  <h2 class="paragraph-title"> <b>Sizing details</b> </h2>
  <p class="paragraph">
  All my resin/glass pendants will be in sizes 16mm, 18mm, or 20mm at this time. I only have AB glass options in the 16mm pendants. 
  Any of my Crystalerrium series will always be 25mm. For chains (coming soon) there will be multiple length options for custom chains that I make by hand.
  </p>
  
  <h2 class="paragraph-title"> <b>Care instructions</b> </h2>
  <p class="paragraph">
  I send little cards with care instruction reminders as well as in the description of each listing, but the general summary is as follows:
  <ul class="FAQ-list">
    <li> The outside is glass so please handle with care.</li>
    <li> All caps have the potential to naturally tarnish over time, but particularly the silver toned ones. Simple clean with a jewelry polishing cloth! </li>
    <li> The outside is glass so please handle with care. </li>
    <li> All caps have the potential </li>
    <li> Please be careful not to tug or pull on the pendant as the cap can potentially come off with enough force. I do an endurance test on all pieces 
         upon completion but they are not invincible </li>
    <li> All Crystalerriums come with a little display box to help protect them from moisture and dust. If any dust does get inside, please 
         clean with an air duster. DO NOT WASH! Any liquids can remove the paint and pigments. </li>
  </ul>
  </p>

  <h2 class="paragraph-title"> <b>Gift wrapping and packaging</b> </h2>
  <p class="paragraph">
  All orders come in custom Kokomi branded packaging which includes a unique box and drawstring bag. I always include little handwritten personalized notes and my 
  business card as well. What is the uncoated vs. coated cap option?
  </p>
  <p class="paragraph">
  I try to be inclusive of all admirers and potential customers and recognize that some may have metal sensitivities or allergies. The pendant caps are electroplated
  copper which can sometimes irritate especially sensitive skin. Larger pendants rarely touch the skin, but as a precautionary measure I give the option to request a 
  special protective coating for the cap. 
  </p>
  <p class="paragraph">
  Please be aware that in order to clean, prep, apply and cure the coating it may take at least an additional 5 business days to be packaged and ship. 
  Please contact me directly if you have any questions and would like to request this option and on what piece you would like it. I can remove the listing so 
  that no one else will purchase it and will adjust the price (+$2).
  </p>

  <h2 class="paragraph-title"> <b>How long do custom orders take to make</b> </h2>
  <p class="paragraph"> 
  This really depends on the complexity and how many requests I have pending. This will be discussed during the consultation and agreement. 
  Until I don't have the bandwidth, I will accept custom order requests until further notice.
  </p>
  
  <h2 class="paragraph-title"> <b>Are these pendants safe for children?</b> </h2>
  <p class="paragraph">
  Generally speaking, my answer is no. I like dainty jewelry and as a result these pose a choking hazard.
  As I mentioned in the care instructions, the outside of my pieces are made of glass and are thus fragile and should be handled with care.
  </p>
  
  <h2 class="paragraph-title"> <b>What is AB glass?</b> </h2>
  <p class="paragraph">
  AB glass is a type of glass with an iridescent coating that essentially gives off rainbows in different lighting and angles.
  </p>

  <h2 class="paragraph-title"> <b>Can these pendants be used for keychains or pet collars?</b> </h2>
  <p class="paragraph">
  No, I do think it is a really cool idea, but as the current pieces I make are glass on the outside, I wouldn't recommend it. 
  These are fragile in general and not only due to the glass and shouldn't be worn during significant activity.
  </p>
  
</div>
